<!-- フォロー中のユーザー -->
<!-- # 引数で渡されたcustomersが存在（exists?）するかどうかを調べる -->
<% if @customers.exists? %>
  <%= render 'public/customers/follow', customer: @customers %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>