
<div class="hero">

<div  class="text-center">

  <h3 class="about-text">
    ご挨拶</br>
    to.MOVIEは「映画に興味を持ってもらう」を</br>
    コンセプトにした映画レビューサイトです</br>
    「映画探し」「コメント投稿」「お気に入り登録」など</br>
    様々な機能を使用して映画コミュニティーを広げられます</br>
    これを機会に様々な映画をご鑑賞ください。
  </h3>
  </div>
</div>
