<div class="jumbotron text-center hero">

  <div class="container">
<div style="padding: 10px; margin-bottom: 10px; border: 5px double #333333; border-radius: 10px; background-color: #ffff99;">
<p>
<h1>to.movie</h1><br>
</p>
</div>
   </div>
</div>
<h3 class="text-center"><strong>新着映画</strong> </h3>