<div class="video-container">

<%= video_tag "Film-46355.mp4", class: "landing_video", loop: true, autoplay: true, muted: true,  height: "100%", width: "100%" %>



 <div class="texts">

        <p></p>
		<p>to.movieへ</p>
		<p>ようこそ</p>
		<p>このサイトは</p>
		<p>映画好きの</p>
		<p>映画好きによる</p>
		<p>映画好きのためのサイト</p>
		<p>最新映画から</p>
		<p>昔の映画まで</p>
		<p>映画好き同士で</p>
		<p>評価やレビューもできます</p>
		<p>どうぞご堪能ください</p>
		<p></p>
	</div>

