




<div class="container">
  <div class="row mt-2">
   <div class="col-md-3 mb-4 text-center">
     <h4 style="background:#EEEEEE">会員一覧</h4>
   </div>
   </div>


<table class="table">
  <thead>
    <tr bgcolor="#EEEEEE">
      <th>会員</th>
    </tr>
  </thead>

  <% @customers.each do |customer| %>
    <tbody>
    <tr>
      <td><%= link_to customer.name, admin_customer_path(customer) %></td>
    </tr>
  </tbody>
  <% end %>
</table>
</div>