<h2>会員詳細</h2>

<h4>アイコン</h4>
<%= attachment_image_tag(@customer, :image, size: "340x240", fallback: "no_image.jpg" ) %>

<h4>名前</h4>
<%= @customer.name %>
<%= link_to '編集する', edit_admin_customer_path(@customer), class: "btn btn-success" %>