/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

  // 字幕用フォント
@font-face {
  font-family: 'cinecaption226.ttf';
  src: asset_url('cinecaption226.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

.notification:not(:last-child){
  margin-bottom: 0;
}

.movie-search {
  padding-top: 40px;
  padding-right: 70px;
}

.movie-back {
  height: 100%; /* 全画面表示 */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: image-url("theater.jpg");

}
.footer{
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

.main-point {
  text-align: center;

}

body {
  	font-family: 'cinecaption226.ttf';
}


/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width: 1024px) {
	body {
  	width: 100%;
 }
 .collapse:not(.show) {
    /* display: none; */
}
}


/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width: 768px) {
	body {
  	width: 100%;
 }
 .collapse:not(.show) {
    /* display: none; */
}
}


/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width: 425px) {
	body {
  	width: 100%;
 }
 .collapse:not(.show) {
    /* display: none; */
}
}