/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

  // 字幕用フォント
@font-face {
  font-family: 'cinecaption226.ttf';
  src: asset_url('cinecaption226.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

.notification:not(:last-child){
  margin-bottom: 0;
}

.movie-search {
  padding-top: 40px;
  padding-right: 70px;
}

.movie-back {
  height: 100%; /* 全画面表示 */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: image-url("theater.jpg");

}
.footer{
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

.main-point {
  text-align: center;

}

body {
  	font-family: 'cinecaption226.ttf';
}


/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width: 1024px) {
	body {
  	width: 100%;
 }
 .hero {
  height: 100vh; /* 全画面表示 */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: image-url("movie1.jpg");
}

.icon{
  width: 60px;
  height: 20px;
}
.video-container {
  position: relative;
}

video {
  width: 100%;
}

.texts p{
	margin: 85px;
	padding: 5px;
	position: absolute;
	bottom: 5px;
	left: 30%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	text-align: center;
	color: black;
	font-size: 30px;
	font-family: 'cinecaption226.ttf';
	word-break: keep-all;
	opacity: 0;
}

 // topアニメーション
.texts p:nth-child(1) { animation: text-anim 5s 0s;}
.texts p:nth-child(2) { animation: text-anim 5s 5s;}
.texts p:nth-child(3) { animation: text-anim 5s 10s;}
.texts p:nth-child(4) { animation: text-anim 5s 15s;}
.texts p:nth-child(5) { animation: text-anim 5s 20s;}
.texts p:nth-child(6) { animation: text-anim 5s 25s;}
.texts p:nth-child(7) { animation: text-anim 5s 30s;}
.texts p:nth-child(8) { animation: text-anim 5s 35s;}
.texts p:nth-child(9) { animation: text-anim 5s 40s;}
.texts p:nth-child(10) { animation: text-anim 5s 45s;}
.texts p:nth-child(11) { animation: text-anim 5s 50s;}
.texts p:nth-child(12) { animation: text-anim 5s 55s;}
.texts p:nth-child(13) { animation: text-anim 5s 60s;}

@keyframes text-anim {
	0%, 100% {opacity: 0;}
	20%, 80% {opacity: 1;}
}

.about-text {
	font-family: 'cinecaption226.ttf';
	color: white;
	padding-top: 150px;
}


}


/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width: 768px) {
	body {
  	width: 100%;
 }
 .hero {
  height: 100vh; /* 全画面表示 */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: image-url("movie1.jpg");
}

.icon{
  width: 60px;
  height: 20px;
}
.video-container {
  position: relative;
}

video {
  width: 100%;
}

.texts p{
	margin: 85px;
	padding: 5px;
	position: absolute;
	bottom: 5px;
	left: 30%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	text-align: center;
	color: black;
	font-size: 30px;
	font-family: 'cinecaption226.ttf';
	word-break: keep-all;
	opacity: 0;
}

 // topアニメーション
.texts p:nth-child(1) { animation: text-anim 5s 0s;}
.texts p:nth-child(2) { animation: text-anim 5s 5s;}
.texts p:nth-child(3) { animation: text-anim 5s 10s;}
.texts p:nth-child(4) { animation: text-anim 5s 15s;}
.texts p:nth-child(5) { animation: text-anim 5s 20s;}
.texts p:nth-child(6) { animation: text-anim 5s 25s;}
.texts p:nth-child(7) { animation: text-anim 5s 30s;}
.texts p:nth-child(8) { animation: text-anim 5s 35s;}
.texts p:nth-child(9) { animation: text-anim 5s 40s;}
.texts p:nth-child(10) { animation: text-anim 5s 45s;}
.texts p:nth-child(11) { animation: text-anim 5s 50s;}
.texts p:nth-child(12) { animation: text-anim 5s 55s;}
.texts p:nth-child(13) { animation: text-anim 5s 60s;}

@keyframes text-anim {
	0%, 100% {opacity: 0;}
	20%, 80% {opacity: 1;}
}

.about-text {
	font-family: 'cinecaption226.ttf';
	color: white;
	padding-top: 150px;
}

}


/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width: 425px) {
	body {
  	width: 100%;
 }
 .hero {
  height: 100vh; /* 全画面表示 */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: image-url("movie1.jpg");
}

.icon{
  width: 60px;
  height: 20px;
}
.video-container {
  position: relative;
}

video {
  width: 100%;
}

.texts p{
	margin: 85px;
	padding: 5px;
	position: absolute;
	bottom: 5px;
	left: 30%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	text-align: center;
	color: black;
	font-size: 25px;
	font-family: 'cinecaption226.ttf';
	word-break: keep-all;
	opacity: 0;
}

 // topアニメーション
.texts p:nth-child(1) { animation: text-anim 5s 0s;}
.texts p:nth-child(2) { animation: text-anim 5s 5s;}
.texts p:nth-child(3) { animation: text-anim 5s 10s;}
.texts p:nth-child(4) { animation: text-anim 5s 15s;}
.texts p:nth-child(5) { animation: text-anim 5s 20s;}
.texts p:nth-child(6) { animation: text-anim 5s 25s;}
.texts p:nth-child(7) { animation: text-anim 5s 30s;}
.texts p:nth-child(8) { animation: text-anim 5s 35s;}
.texts p:nth-child(9) { animation: text-anim 5s 40s;}
.texts p:nth-child(10) { animation: text-anim 5s 45s;}
.texts p:nth-child(11) { animation: text-anim 5s 50s;}
.texts p:nth-child(12) { animation: text-anim 5s 55s;}
.texts p:nth-child(13) { animation: text-anim 5s 60s;}

@keyframes text-anim {
	0%, 100% {opacity: 0;}
	20%, 80% {opacity: 1;}
}

.about-text {
	font-family: 'cinecaption226.ttf';
	color: white;
	padding-top: 150px;
}

}