// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hero {
  background: image-url('movie.jpg') center top;
  background-size: auto;
  color: navy;
}